.calendar{
    text-align: center;
    width:95%;
    margin: 0 auto;
    height: 95vh;
}

.calendar .header{
    height:5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #e0a6e2;
}
.calendar .header p{
    font-size: 20px;
    font-weight: bold;
}

.calendar .table{
    height:95%;
    width:100%;
    border: 1px solid rgb(173, 172, 172); 
    border-collapse: collapse;
    text-align: left;

    display: grid;
    grid-template-rows: 60px auto;
	grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}

.calendar thead,
.calendar tbody,
.calendar tr {
  display: contents;
}

.calendar th {
    background-color: #e253e7;
    text-align: center;
    height:40px;
    min-width:90px;
    padding-top: 20px;
}

/* 
.week{
    background-color: #e253e7;
    width: 100%;
}
.week-day{
    width: 100%;
    height:60px;
    text-align: center;
} 
*/

.calendar .day{
    /* height:80px; */
    border: 1px solid rgb(173, 172, 172); 
    transition: .2s ease-in;
    cursor: pointer;
}
.calendar .day:hover{
    background-color: rgb(231, 229, 229); 
}
.calendar td{
    border: 1px solid rgb(173, 172, 172); 
    vertical-align: top;
    position: relative;
}
tr{
    position: relative;
    width:100%;
}

.btn-container{
    margin:0 auto;
    text-align: center;
}
.button{
    min-width:120px;
    padding: 5px 20px;
    cursor: pointer;
    border: 1px solid #e253e7;
    font-size: 16px;
    font-family: inherit;
    border-radius: 15px;
}
.button:focus,
.button:active{
    outline: ivory;
}
.button:hover{
    background-color: #e253e7;
}
.today {
    background-color: #e253e7;
    color: #fff;
}
.today:hover{
    background-color:#e0a6e2;
} 
.in-prev-month,
.in-next-month {
    opacity: 0.3;
    background-color: #ccc;
}

.in-prev-month:hover,
.in-next-month:hover {
    opacity: 0.5;
    background-color: #ddd;
}

/*event*/
.event{
    background-color: #e8d3e9;
    border: 1px solid black;
    font-size: 14px;
    margin-bottom: 2px;
    position: relative;
    display: flex;
}
.event__title{
    display: inline-block;
    margin-left: 5px;
}
.create-event{
    padding: 0px 5px;
    background-color: #f8f7f8;
    position: absolute;
    top:0;
    right:0;
    border:1px solid black;
    color:black;
}
.edit{
    position: absolute;
    top:5px;
    right:5px;
}
