$primaryColor: #007bff;
$secondaryColor: #fff;
$thirdColor: red;
$fontColor: #6c757d;
$colorBlack: #000;
$borderColor: #efefef;

@mixin font($size, $lineHeight, $color:$fontColor, $fontWeight: normal) {
    font: {
        size: $size;
        weight: $fontWeight;
        family: Arial, Helvetica, sans-serif;
    }
    color: $color;
    line-height: $lineHeight;
  }

.calendar{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;

    .header{
        height:5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        background-color: $primaryColor ;

        p{
            @include font(20px, 1, bold);
            // font-size: 20px;
            // font-weight: bold;
        }
    }

    .table{
        height:95%;
        width:100%;
        margin-top: 20px;
        border: 1px solid $borderColor;
        border-collapse: collapse;
        text-align: left;
        border-radius: 30px;
        overflow: hidden;

        display: grid;
        grid-template-rows: 60px auto;
        // grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;

        grid-template-areas: "wd wd wd wd wd wd wd" "dd dd dd dd dd dd dd" "iv iv iv iv iv iv iv";


    thead,
    tbody,
    tr {
        display: contents;
    }



        .week{
            background-color: $secondaryColor;
            width: 100%;
            @include font(12px, 1);
        }
        .week-day{
            grid-area: wd;
            width: 100%;
            // height:60px;
            text-align: center;
        } 
    }

    th {
        background-color: $secondaryColor;
        text-align: center;
        // height:40px;
        min-width:90px;
        padding-top: 20px;
    }
    .day{
        // height:80px;
        border: 1px solid $borderColor; 
        transition: .2s ease-in;

        &:hover{
            background-color: #efefef; 
        }
    }
    td{
        //grid-area: dd;

        border: 1px solid $borderColor; 
        vertical-align: top;
        position: relative;
        padding: 3px;
        background-color: $secondaryColor;
        padding-top:40px;

        .number{
            @include font(14px, 1);
            position: absolute;
            top: 10px;
            right: 10px;
            height: 28px;
            width: 28px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .today .number{
        border: 2px solid $primaryColor;
        border-radius: 5px;
    }
    .today:hover .number{
        border: none;
    }
    .in-prev-month,
    .in-next-month {
        background-color: #f8f7f8;
    }

   

    .in-prev-month .number,
    .in-next-month .number {
        // opacity: 0.3;
        color: #c4c4c4;

        &:hover,
        &:hover {
            // opacity: 0.5;
            background-color: #999;
        }
    }
}


@media only screen and (max-width: 1199px) {
    .calendar{
        width: 100%;
        margin: 0 auto;
        height: 100vw;

        // th {
        //     font-size: 0;
        //   }
        //   th::first-letter {
        //     font-size: 1rem;
        //   }
    }
}

@media only screen and (max-width: 991px) {
    .calendar{
        width: 100%;
        margin: 0 auto;
        height: 100vw;

        th {
            font-size: 0;
            }
            th::first-letter {
            font-size: 1rem;
        }
    }
}


    .in-prev-month .number,
    .in-next-month .number {
        // opacity: 0.3;
        background-color: #f8f7f8;
        color: #c4c4c4;

        &:hover,
        &:hover {
            // opacity: 0.5;
            background-color: #999;
        }
    }

.event{
    box-sizing: border-box;
    width:100%;
    background-color: rgba(0, 123, 255, 0.1);
    position: relative;
    height:30px;
    padding-left:10px;
    margin-bottom: 4px;
    &:after{
        display: inline-block;
        content:'';
        background-color: #007bff;
        position: absolute;
        top:0;
        left:0;
        width:5px;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    &__title{
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.19px;
        color: #007bff;
    }
    &__btns{
        position: absolute;
        top:50%;
        right:0;
        display: flex;
        transform: translateY(-50%);
        justify-content: center;
        align-items: center;
    }
    &__edit{
        font-size: 14px;
    }
}
.prev-today .event{
    background-color: rgba(208, 2, 27, 0.1);
    
    &:after{
        background-color:  #d0021b;
    }
    &__title{
        color: #d0021b;
    }
}

.create-event{
    width: 30px;
    height: 30px;
    background-color: #007bff;
    position: absolute;
    top:3px;
    right:5px;
    color:black;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s linear;
    display: none;
    color:white;
    font-weight: bold;
    transition: .3s ease-in-out;
}
.calendar .day:hover .create-event{
    display: block;
    text-align: center;
    line-height: 30px;
}
.Plus {
    width: 11px;
    height: 11px;
    object-fit: contain;
}
.calendar .prev-today:hover .create-event{
    display: none;
}