.calendar{
    text-align: center;
    width:95%;
    margin: 0 auto;
    height: 95vh;
}

.header{
    height:5%;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #e0a6e2;
}
.header p{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.table{
    height:95%;
    width:100%;
    border: 1px solid rgb(173, 172, 172); 
    border-collapse: collapse;
    text-align: left;

    display: grid;
    grid-template-rows: 60px auto;
	grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}

thead,
tbody,
tr {
  display: contents;
}

th {
    background-color: #e253e7;
    text-align: center;
    height:60px;
    padding-top: 20px;
}

/* 
.week{
    background-color: #e253e7;
    width: 100%;
}
.week-day{
    width: 100%;
    height:60px;
    text-align: center;
} 
*/

.day{
    /* height:80px; */
    border: 1px solid rgb(173, 172, 172); 
    transition: .2s ease-in;
    cursor: pointer;
}
.day:hover{
    background-color: rgb(231, 229, 229); 
}
td{
    border: 1px solid rgb(173, 172, 172); 
    vertical-align: top;
    position: relative;
}
th{
    min-width:90px;
}
.btn-container{
    margin:0 auto;
    text-align: center;
}
.button{
    min-width:120px;
    padding: 5px 20px;
    cursor: pointer;
    border: 1px solid #e253e7;
    font-size: 16px;
    font-family: inherit;
    border-radius: 15px;
}
.button:focus,
.button:active{
    outline: ivory;
}
.button:hover{
    background-color: #e253e7;
}
.today {
    background-color: #e253e7;
    color: #fff;
}
.today:hover{
    background-color:#e0a6e2;
} 
.in-prev-month,
.in-next-month {
    /* opacity: 0.5; */
    background-color: #ccc;
}

.in-prev-month:hover,
.in-next-month:hover {
    /* opacity: 0.5; */
    background-color: #ddd;
}

/*event*/
.event{
    background-color: #e8d3e9;
    border: 1px solid black;
    font-size: 14px;
    margin-bottom: 2px;
}
.event__title{
    display: inline-block;
    margin-left: 5px;
}
.create-event{
    padding: 0px 5px;
    background-color: #f8f7f8;
    position: absolute;
    top:0;
    right:0;
    border:1px solid black;
    color:black;
}

