$primaryColor: #007bff;
$secondaryColor: #fff;
$thirdColor: red;
// $primaryColor: hsl(298, 100%, 50%);
// $secondaryColor: hsl(298, 51%, 77%);
$fontColor: #6c757d;
$colorBlack: #000;
$borderColor: #efefef;

@mixin font($size, $lineHeight, $color:$fontColor, $fontWeight: normal) {
    font: {
        size: $size;
        weight: $fontWeight;
        family: Arial, Helvetica, sans-serif;
    }
    color: $color;
    line-height: $lineHeight;
  }

* {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    box-sizing: border-box!important;
}

.header{
    background-color: $secondaryColor;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.07);
    // z-index: 20000;
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-template-areas:
        "header-today header-month header-btns header-register";
    grid-template-columns: 3fr 4fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
    border-radius: 12px;
    @include font(16px, 1);
    // color: $fontColor;
    // font-size: 14px;

    &__item{
        /*display: flex;
        align-items: center;
        justify-content: space-between;*/
    }
    &__item:first-child{
        width: max-content;
// outline: 1px dotted red;
    }
    &__today{
        // margin-left: 35px;
        padding: 10px 15px;
        margin: 0 10px;
        cursor: pointer;
        border: 1px solid $borderColor;
        border-radius: 6px;
        font-size: 14px;
        transition: .2s ease-in;
        &:hover {
            background-color: #ddd;
        }
    }
    &__link{
        width: auto;
        padding:35px;
        border-radius: 6px;
        border: solid 1px $primaryColor;
        @include font(14px, 1, $primaryColor);
        // color: $primaryColor;
        padding: 10px 20px;
        // font-weight: bold;
        cursor: pointer;
        transition: .2s ease-in;
        &:hover {
            background-color: #eef;
        }
    }
    .month{
        font-size: 16px;
        font-weight: bold;
        margin: 0 30px;
        min-width:120px;
    }
    .layout-header-btns{
        grid-area: header-btns;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        justify-self: end;
        .circle{
            display: inline-block;
            margin-right: 10px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }
        .done{
            background-color: #007bff;
        }
        .current{
            background-color: #58cb7d;
        }
        .last{
            background-color:#d0021b;
        }
    }
    &__header{
        .button-sign{
            margin: 0 15px;
        }
    }
    &__text{
        margin-right: 15px;
    }
    .user-photo{
        width:35px;
        border-radius: 50%;
    }
    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:50px;
    }
    .nav{
        border: solid #333;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        cursor: pointer;
    }
    .dropdown{
        position: absolute;
        top:100%;
        right:0;
        width: 200px;
        padding:15px;
        background-color: $secondaryColor;
        border: 1px solid  grey;
        text-align: left;
        font-size: 14px;
        z-index:100;
        overflow: hidden;
        text-overflow: ellipsis;
        .button-signOut{
            display: block;
            margin: 10px 0;
            background-color: rgb(202, 199, 199);
            text-align: center;
            padding: 5px;
            cursor: pointer;
        }
    }
    /*.arrow{
        border: solid #cfd5da;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        cursor: pointer;
        transition: .2s ease-in;
        &:hover {
            border-color: $fontColor;    
        }
    }*/
    .arrow-next{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    /*.arrow-prev{
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }*/
}
.layout-header-today {
    grid-area: header-today;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
}
.layout-header-month {
    grid-area: header-month;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    justify-items: center;
    align-items: center;
    min-width:200px;
    text-align: center;
    span {
        display: block;
        width: 34px;
        height: 34px;
        text-align: center;
        padding: 8px;
        cursor: pointer;
        border-radius: 10px;
    }
    

}
.layout-header-register {
    grid-area: header-register;
}

/* @media */
@media (min-width: 1400px) {

}

@media (max-width: 1199px) {
    .header {
        width: auto;
        margin: 0 10px;
    }
}

@media (max-width: 991px) {
    .header {
        margin-top: 10px;
        grid-template-areas:
            "header-today  header-btns"
            "header-month header-register";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45px 45px;
    }
    .layout-header-register {
        justify-self: end;
    }
    .layout-header-month {
        span {
            background-color: $primaryColor;
        }
    }
}

@media (max-width: 767px) {
    .header {
        grid-template-areas:
                "header-today header-btns"
                "header-month header-register";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 60px 40px;
    }
    .header .layout-header-btns {
        justify-self: center;
    }
    .layout-header-register {
        margin-right: 25px;
    }
}

@media (max-width: 650px) {

}

@media (max-width: 479px) {
    .header {
        grid-template-areas:
                "header-today header-today"
                "header-btns header-register"
                "header-month header-month";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 40px 50px 35px;
    }
    .layout-header-register {
        justify-self: center;
        margin: auto;
    }
}

@media (max-width: 359px) {
    .header {
        grid-template-rows: 50px 50px 35px;
    }
    .header__link {
        text-align: center;
    }
}